<header class="section-full">

  {# desktop menu #}
  <nav class="hidden sm:flex section flex justify-center items-center bg-white xl:rounded-full h-16 shadow-lg border border-slate-200 my-1 sm:my-16">
    <ul class="flex flex-row justify-around items-center gap-1 sm:gap-4 w-full">
      <li><a href="/" class="nav-link hidden sm:block">Home</a></li>
      <li><a href="" class="nav-link">Menu</a></li>
      <li><a href="" class="nav-link">Catering</a></li>

      <li class="relative sm:h-[153px] sm:w-[210px] h-[55px] w-[75px]">
        <a class="absolute top-0 left-0" href="/" class="nav-link">
          <img src="/assets/img/pepper_deli_farm_nav_logo.png" alt="Pepper Deli Farm Logo Home Button">
        </a>
      </li>

      <li><a href="" class="nav-link">About</a></li>
      <li><a href="" class="nav-link hidden sm:block">Blog</a></li>
      <li><a href="" class="nav-link deli-grad-text font-bold">Order</a></li>
    </ul>
  </nav>
  
  {# mobile menu #}
  <nav class="block sm:hidden section flex justify-center items-center bg-white h-16 shadow-lg border border-slate-200 my-1">
    <ul class="flex flex-row justify-around items-center gap-1 w-full">

      <li><a href="" class="nav-link">Menu</a></li>
      <li><a href="" class="nav-link">Catering</a></li>

      <li class="relative h-[55px] w-[75px]">
        <a class="absolute top-0 left-0" href="/" class="nav-link">
          <img src="/assets/img/pepper_deli_farm_nav_logo.png" alt="Pepper Deli Farm Logo Home Button">
        </a>
      </li>

      <li><a href="" class="nav-link">About</a></li>
      <li><a href="" class="nav-link deli-grad-text font-bold">Order</a></li>
    </ul>
  </nav>

</header>
