<div class="section-full mb-4 relative">
  <span class="scrolling-hero text-white">Skip the Line</span>
  <div class="section h-[450px] flex flex-row gap-8">
    <div class="w-full sm:w-8/12 md:w-7/12 lg:w-5/12 p-4">
      <div class="flex flex-col">
        <h1 class="hero-h1 text-6xl font-bold mb-8">
          Order Your<br>
          Favorite <span class="deli-grad-text">Deli<br>
          Food</span> Online!
        </h1>
        <p class="mb-8 text-zinc-500">
          San Diego's Favorite Deli. Since 1985, we've been purveyors of delicious food at affordable prices. We pride ourselves on using only the freshest ingredients and crafting great sandwiches!
        </p>
        <button class="button-peel deli-grad-bg w-64">Order Now!</button>
      </div>
    </div>
    <div class="hidden sm:w-8/12 bg-red-200">
    </div>
  </div>
</div>