<div class="section-full mb-4">
  <div class="section h-[450px] flex flex-row gap-8">
    <div class="w-full sm:w-8/12 md:w-7/12 lg:w-5/12 p-4">
      <div class="flex flex-col">
        <h1 class="hero-h1 text-5xl sm:text-6xl font-bold mb-8">
          Order Your<br>
          Favorite <span class="deli-grad-text">Deli<br>
          Food</span> Online!
        </h1>
        <p class="mb-8 text-zinc-500">
          San Diego's Favorite Deli. Since 2020, we've been purveyors of delicious food at affordable prices. We pride ourselves on using only the freshest ingredients and crafting great sandwiches!
        </p>
        <a class="solid-button deli-grad-bg w-64 text-center text-lime-950" href="https://order.toasttab.com/online/pepper-farm-deli-235-town-center-parkway-suite-h">Order Now!</a>
      </div>
    </div>
    <div id="hero-img" class="hidden sm:block sm:w-4/12 md:w-5/12 lg:w-7/12" style="background-image: url('https:{{ home.homeImage.fields.file.url }}');"></div>
  </div>
</div>
