<div class="section-full md:h-[200px] h-[400px] mb-8">
  
  <div class="marquee block h-[40px] bg-zinc-900 text-white uppercase text-xl p-1 text-nowrap text-clip overflow-hidden">
    Sandwiches, soups, pizza, salads, sides and more...
  </div>

  <div class="m-auto grid grid-cols-2 md:grid-cols-4">
    <div class="bg-red-100 h-[200px]"></div>
    <div class="bg-red-200 h-[200px]"></div>
    <div class="bg-red-300 h-[200px]"></div>
    <div class="bg-red-400 h-[200px]"></div>
  </div>

</div>