<div id="catering-ad" class="section z-10 bg-[url('/assets/img/catering_ad.webp')] bg-no-repeat bg-left bg-[length:100%] sm:bg-[length:90%] md:bg-[length:60%] mb-16">
  <div class="flex flex-row justify-between items-center py-10 bg-white/70 lg:bg-transparent h-[500px]">
    <div class="empty"></div>
    <div class="w-full sm:w-8/12 md:w-7/12 lg:w-5/12 z-10">
      <div class="flex flex-col p-4">
        <h1 class="hero-h1 text-6xl font-bold mb-8">
          Have <span class="deli-grad-text">Pepper Farm Deli</span> Cater Your Next Event
        </h1>
        <p class="mb-8 text-zinc-700">
          San Diego's Favorite Deli. Since 1985, we've been purveyors of delicious food at affordable prices. We pride ourselves on using only the freshest ingredients and crafting great sandwiches! Check out our <a class="hover:underline text-lime-600 font-bold" href="/catering/"> Catering Menu!</a>
        </p>
        <div class="flex flex-row justify-end gap-8">
          <a class="border-button" href="/catering-inquiry/">Form Request</a>
          <a class="solid-button" href="tel:+16192018129">Call Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>