<div class="section mb-16">
  <div class="flex flex-col-reverse sm:flex-row">

    <div class="bg-yellow-100 w-full sm:w-5/12 md:w-7/12 p-4 pt-16 text-right">
      
      <div class="text-5xl font-bold mb-8 text-white hidden sm:block">VISIT</div>
    
    </div>

    <div class="w-full sm:w-7/12 md:w-5/12 p-4 py-16">
      
      <div class="text-5xl font-bold mb-8"><span class="sm:hidden">VISIT</span> US</div>

      <div class="flex flex-row justify-start gap-8 mb-4">
        <div class="icon">I</div>
        <div class="text-left">
          235 Town Center Parkway, Suite H<br>
          Santee CA 92071
        </div>
      </div>

      <div class="flex flex-row justify-start gap-8 mb-4">
        <div class="icon">I</div>
        <div class="text-left">
          235 Town Center Parkway, Suite H<br>
          Santee CA 92071
        </div>
      </div>

      <div class="flex flex-row justify-start gap-8">
        <div class="icon">I</div>
        <div class="text-left">
          235 Town Center Parkway, Suite H<br>
          Santee CA 92071
        </div>
      </div>

    </div>
  </div>
</div>