<footer class="section-full">
  <div class="test-grad-bg relative">
    <img class="absolute left-0 bottom-0" style="z-index: -1" src="/assets/img/lettuce.webp" alt="Letuce go down to Pepper Farm Deli"> 
    <div class="section bg-slate-100 w-full rounded-tl-lg">
      <div class="flex flex-col sm:flex-row justify-between p-8 gap-8 ">
        <div class="w-full sm:w-7/12 md:w-5/12">
          <h3 class="text-3xl font-bold mb-4 deli-grad-text">Pepper Farm Deli</h3>
          <p class="text-sm">
            Pepper Farm Deli was established in 2020 with the purpose of making some of the best food in Santee. We wanted to be more than just a sandwich shop. Many hours were spent creating a menu that is sure to make you want to keep coming back for more. It’s proven to be the tastiest food in Santee, California.
          </p>
        </div>
        <div class="w-full sm:w-5/12 md:w-7/12">
          <div class="flex flex-row justify-between">
            <div class="w-1/2 text-left sm:text-right ">
              <h4 class="font-bold text-xl">Social</h4>
              <ul>
                <li><a class="hover:underline text-lime-600" href="https://www.facebook.com/pepperfarmdeli">Facebook</a></li>
                <li><a class="hover:underline text-lime-600" href="https://www.instagram.com/pepperfarmdeli/">Instagram</a></li>
              </ul>
            </div>
            <div class="w-1/2 text-left sm:text-right">
              <h4 class="font-bold text-xl">Menu</h4>
              <ul>
                <li><a class="hover:underline text-lime-600" href="/">Home</a></li>
                <li><a class="hover:underline text-lime-600" href="/menu/">Menu</a></li>
                <li><a class="hover:underline text-lime-600" href="/catering/">Catering</a></li>
                <li><a class="hover:underline text-lime-600" href="/about/">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="px-8 py-3">
        <p class="text-sm">Copyright © 2024. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>