---
pagination:
  data: blog
  size: 6
  alias: posts
layout: base.njk
title: Blog Web Media Foundry | San Diego Web Developer Since 2006
description: Since 2006, bringing enterprise-level expertise to San Diego small businesses. Discover how Web Media Foundry can help your business grow digitally.
---

<div class="max-w-screen-md mx-auto">
  <div class="flex flex-col m-4">
    <h1 class="text-red-500 text-5xl font-bold my-8 font-display text-center sm:text-left">Pepper Farm Deli Blog</h1>

    {% for post in posts %}
    <div class="flex flex-col items-start sm:flex-row mb-4">
        <div class="flex flex-col mb-4 sm:mr-4 sm:w-3/4">
            <h2 class="text-zinc-600 hover:underline hover:text-red-500 text-3xl font-bold cursor-pointer mb-2"><a href="/blog/{{ post.fields.hero[0].fields.h1 | slugify }}">{{post.fields.hero[0].fields.h1 }}</a></h2>
            <p class="text-pretty">{{ post.fields.summary | safe }} <span class="text-red-400 italic font-thin hover:underline hover:text-red-500" ><a href="/blog/{{ post.fields.hero[0].fields.h1 | slugify }}">...Read More</a></span> </p>
        </div>
        <img eleventy:images="250" class="object-center w-full sm:w-1/4 pb-4" src="{{ post.fields.thumbnail.fields.file.url | cfimg }}?w=250&h=250&fit=thumb" alt="{{ post.fields.title }}">
    </div>
    {% endfor %}
  </div>

  <nav aria-labelledby="my-pagination" class="w-full my-8 p-4">
      <ol class="flex flex-row justify-end gap-4">
      {%- for pageEntry in pagination.pages %}
          <li><a class="bg-red-500 text-white text-lg rounded-full p-2 px-6" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {%- endfor %}
      </ol>
  </nav>

</div>