{%- macro faqSchema(fields) -%}

<script type="application/ld+json">

{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "name": "FAQs {{ fields.name }}",
  "mainEntity": [
    {% for faq in fields %}
    {
      "@type": "Question",
      "name": "{{ faq.fields.question }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ faq.fields.answer }}"
      }
    }
    {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
  ]
}

</script>

{%- endmacro -%}