<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{{ description or home.metaDescription }}">
  <title>{{ title or home.metaTitle }}</title>

  <link rel="canonical" href="{{site.url}}{{ page.url }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  {% set tailwind %} {% include "css/css.njk" %} {% endset %}
  <style>
    {{ tailwind | cssmin | safe }}
  </style>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7KFLNQZT9F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7KFLNQZT9F');
  </script>

</head>

<body class="bg-gradient-to-b from-zinc-50 to-zinc-300">

  {# <div class="sticky top-0 z-50 h-2 bg-red-300 sm:bg-orange-300 md:bg-yellow-300 lg:bg-green-300 xl:bg-blue-300 2xl:bg-indigo-300"></div> #}

  {% include "sections/0-header.njk" %}

  <a id="order-now-sticky" style="display: none;" href="https://order.toasttab.com/online/pepper-farm-deli-235-town-center-parkway-suite-h" class="sticky top-0 deli-grad-bg text-white p-4 text-center text-2xl shadow-xl font-bold uppercase z-50 hover:text-zinc-200">
    order now
  </a>

  <main class="overflow-x-hidden">

    {{ content | safe }}
    
  </main>
  {%- if '/menu/' in page.url -%}
  <a href="#" class="back-to-top-scroll back-to-top z-50 p-4 m-4 fixed bottom-[50px] right-0 bg-red-500 text-white rounded-2xl font-bold shadow-md">Back to Top</a>
  {%- endif -%}


  {% include "sections/7-footer.njk" %}

</body>

<script defer src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>{% include "js/main.js" %}</script>

{%- if '/contact/' in page.url or '/about/' in page.url -%}
<script>{% include "js/contact.js" %}</script>
{%- endif -%}

{%- if '/catering-inquiry/' in page.url -%}
<script>{% include "js/contact-catering.js" %}</script>
{%- endif -%}

{%- if '/' == page.url -%}
<script>{% include "js/home-marquee.js" %}</script>
{%- endif -%}

</html>