{%- macro sectionHeading(data) -%}

{%- if data.sys.contentType.sys.id == 'cateringHeading' -%}
  {%- if data.fields.displayOptions == 'Primary' -%}
    <h2 class="text-3xl font-bold mb-8 p-4 bg-lime-900 text-lime-100 text-center uppercase px-4">{{ data.fields.title }}</h2>
  {%- elif data.fields.displayOptions == 'Sub-heading' -%}
    <h3 class="text-2xl font-bold mb-6 p-2 bg-amber-100 text-lime-900 text-center uppercase px-4">{{ data.fields.title }}</h3>
  {%- elif data.fields.displayOptions == 'Aside' -%}
    <h4 class="text-2xl font-bold mb-4 p-2 text-lime-900 text-left uppercase px-4">{{ data.fields.title }}</h4>
  {%- endif -%}
{%- endif -%}


{%- endmacro -%}