{
  "@context": "https://schema.org",
  "@type": "Menu",
  "@id": "{{ site.url }}/menu/#menu",
  "name": "Pepper Farm Deli Menu",
  "url": "{{ site.url }}/menu/",
  "hasMenuSection": [
    {% for category in menu %}
    {
      "@type": "MenuSection",
      "name": {{ category.fields.name | json | safe }},
      "url": "{{ site.url }}/menu/#{{ category.fields.name | slugify }}",
      "hasMenuItem": [
        {% for product in category.fields.products %}
          {{ product | foodSchema(site.url + '/menu/' + (product.fields.name | slugify) + '/') | json | safe }}{{ ',' if not loop.last }}
        {% endfor %}
      ]
    }{{ ',' if not loop.last }}
    {% endfor %}
  ]
}
