{%- macro productSchema(data) -%}
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{data.name}}",
  {% if data.images and data.images[0] %}
  "image": "https:{{data.images[0].fields.file.url}}",
  {% else %}
  "image": "https://pepperfarmdeli.com/assets/img/missing_image.webp",
  {% endif %}
  "description": "{{data.description | menuDescription(data.name) | replace('"', '\\"')}}",
  "offers": {
    "@type": "Offer",
    "price": "{{data.price}}",
    "availability": "https://schema.org/InStock",
    "priceCurrency": "USD"
  }
}
{%- endmacro -%}
