{
  "@context": "http://schema.org",
  "@type": "Restaurant",
  "image": "https://media-cdn.grubhub.com/image/upload/w_100,h_100,f_auto,fl_lossy,q_80,c_fit/jgmjt5gwspenejobgw9j",
  "name": "Pepper Farm Deli",
  "description": "Santee's Favorite Deli. Since 2020, we've been purveyors of delicious food at affordable prices. We pride ourselves on using only the freshest ingredients and crafting great sandwiches!",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "235 Town Center Pkwy H",
    "addressLocality": "Santee",
    "addressRegion": "CA",
    "postalCode": "92071",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 32.8415891,
    "longitude": -116.9857095
  },
  "url": "https://pepperfarmdeli.com/",
  "telephone": "+16195627415",
  "menu": "https://pepperfarmdeli.com/menu/",
  "servesCuisine": [
    "Deli",
    "Dinner",
    "Lunch",
    "Sandwiches",
    "Wraps",
    "Smoothies",
    "Salads",
    "Flatbreads",
    "Burgers"
  ],
  "priceRange": "$$",
  "hasMenu": {
    "@type": "Menu",
    "hasMenuSection": [
      {%- for category in menu -%}
      {
        "@type": "MenuSection",
        "name": "{{ category.fields.name }}",
        "description": "{{ category.fields.description }}",
        "image": "https:{{ category.fields.icon.fields.file.url }}"
      }{{ ',' if not loop.last else ''}}
      {% endfor %}
    ]
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      "opens": "08:00",
      "closes": "20:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Sunday"],
      "opens": "08:00",
      "closes": "17:00"
    }
  ],
  "potentialAction": [
    {
      "@type": "OrderAction",
      "agent": {
        "@type": "Service",
        "@id": "https://pos.toasttab.com/",
        "serviceType": "Online Order for Self Pickup",
        "name": "Toast"
      },
      "target": {
        "@type": "URL",
        "url": "https://order.toasttab.com/online/pepper-farm-deli-235-town-center-parkway-suite-h/"
      }
    },
    {
      "@type": "OrderAction",
      "agent": {
        "@type": "Service",
        "@id": "https://ubereats.com/",
        "serviceType": "Online Order for Food Delivery",
        "name": "Uber Eats"
      },
      "target": {
        "@type": "URL",
        "url": "https://www.ubereats.com/store/pepper-farm-deli/w3dNm-8xRvetqmpA9nq2rg"
      }
    },
    {
      "@type": "OrderAction",
      "agent": {
        "@type": "Service",
        "@id": "https://grubhub.com/",
        "serviceType": "Online Order for Food Delivery",
        "name": "Grubhub"
      },
      "target": {
        "@type": "URL",
        "url": "https://www.grubhub.com/restaurant/pepper-farm-deli-235-town-center-pkwy-santee/3069315"
      }
    }
  ]
}

