{
  "@context": "https://schema.org",
  "@type": "Restaurant",
  "@id": "{{ site.url }}/#restaurant",
  "name": "Pepper Farm Deli",
  "url": "{{ site.url }}/",
  "image": ["{{ site.logo }}", "{{ site.url }}/assets/img/store-image.png"],
  "description": "Pepper Farm Deli serves sandwiches, breakfast, salads, and catering in Santee, California.",
  "address": {
    "@type": "PostalAddress", "streetAddress": "235 Town Center Parkway, Suite H",
    "addressLocality": "Santee", "addressRegion": "CA", "postalCode": "92071", "addressCountry": "US"
  },
  "telephone": "+16192018129",
  "geo": { "@type": "GeoCoordinates", "latitude": 32.8415891, "longitude": -116.9857095 },
  "hasMap": "https://maps.app.goo.gl/RsE3F5iA7ShZLqWX7",
  "sameAs": ["https://www.instagram.com/pepperfarmdeli/", "https://www.facebook.com/pepperfarmdeli"],
  "hasMenu": "{{ site.url }}/menu/",
  "servesCuisine": ["Deli", "Sandwiches", "Breakfast", "Salads"],
  "priceRange": "$$",
  "openingHoursSpecification": [
    { "@type": "OpeningHoursSpecification", "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "opens": "08:00", "closes": "19:00" },
    { "@type": "OpeningHoursSpecification", "dayOfWeek": "Sunday", "opens": "08:00", "closes": "17:00" }
  ]
}

