---
title: Catering Inquiry | Pepper Farm Deli
description: Fill out this form to contact us concerning catering.
layout: "base.njk"
---

<div class="section mb-18">
  <div class="flex flex-col">

    <h1 class="text-5xl font-bold my-8 text-center deli-grad-text uppercase">Catering Inquiry</h1>

    <p class="mb-8 text-center px-4">
      We would love to cater your event! Please fill out the following form and we will reply shortly.
    </p>

  </div>
</div>

{% include "partials/catering-inquiry-form.njk" %}