---
layout: "base.njk"
---

{% include "sections/1-hero.njk" %}
{% include "sections/2-marquee.njk" %}
{% include "sections/3-featured-menu.njk" %}
{% include "sections/4-catering-ad.njk" %}
{% include "sections/5-reviews.njk" %}
{% include "sections/6-store-info.njk" %}